@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", p)
}

<div page-model="@Model.PagingInfo"
     page-action="List"
     page-class-enabled="true"
     page-class="page-item"
     page-class-normal="page-link"
     page-class-selected="active"
     page-url-category="@Model.CurrentCategory"
     class="pagination">
</div>